<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Flask template</title>
    <link rel='stylesheet' href='/static/style.css' />
  </head>
  <body>

    <h2>Hello world!</h2>
    <form method="POST" action=""> 
      Enter you name <input type = "text" name= "name" /> <br>
      Enter an inspirational phrase <input type = "text" name="phrase" /> <br>
      <input type="submit" value="Save phrase to MySQL db">
    </form>
    <br>
    <a href='/phrases'>View all phrases</a>
    
    <h2>JavaScript example</h2>
    <a href='/hello/alice'>Say hi to Alice</a>  
    
    <h2>Binary file</h2>

    <form method="POST" action="/bin">      
      <input type="submit" value="Compile and run script in C">
    </form>
    <br>
    <a href='/bin'>GET binary file</a>    

  </body>
</html>