<!DOCTYPE html>
<html>
  <head>
    <title>E-Commerce</title>
    <meta charset="UTF-8" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<!-- mobile first boostrap -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<meta HTTP-EQUIV="Pragma" content="no-cache">
		<meta HTTP-EQUIV="Cache-Control" content="no-cache">
	  <meta http-equiv="Content-Script-Type" name="Default_Script_Language" content="text/javascript">
    
  </head>
  <body>
    <h1>404 Not Found</h1>
  </body>
</html>
